-#  Copyright (c) 2012-2014, CEVI Regionalverband ZH-SH-GL. This file is part of
-#  hitobito_cevi and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito_cevi.

- title t('.title', year: @year)

= form_for(@group, url: group_member_counts_path(@group), method: :put) do |f|
  = hidden_field_tag(:year, @year)
  = form_buttons(f, submit_label: nil, cancel_url: census_group_group_path(@group, year: @year))

  = render layout: 'member_counts/table_header',
           locals: { before_columns: %w(Jahrgang), id: 'member_counts_fields'} do

    - @member_counts.each do |count|
      = fields_for 'member_count[]', count, builder: StandardFormBuilder do |f|
        %tr
          %td
            %span.pe-2= format_member_count_born_in(count)
          %td= f.input_field :person_f
          %td= f.input_field :person_m

  #member_counts_fields_blueprint{style: 'display: none', data: { blueprint: member_counts_fields_blueprint } }
  = link_to 'Eintrag hinzufügen', 'javascript:void(0);', class: 'add_nested_fields', data: { association: 'member_counts', 'blueprint-id' => 'member_counts_fields_blueprint' }

  = form_buttons(f, submit_label: nil, cancel_url: census_group_group_path(@group, year: @year))
