-#  Copyright (c) 2012-2014, CEVI Regionalverband ZH-SH-GL. This file is part of
-#  hitobito_cevi and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito_cevi.

= field_set_tag do
  = f.labeled_input_fields :title, :profession, :joined, :ahv_number_old, :salutation_parents, :name_parents, :member_card_number

  = f.labeled_input_field :nationality,
                          placeholder: t('.nationality.placeholder'),
                          data: { provide: :typeahead, source: existing_person_nationalities }

  = f.labeled_collection_select :salutation, possible_person_salutations,
                                :id,
                                :to_s,
                                { include_blank: true },
                                class: 'span6'

  = f.labeled_input_field :correspondence_language,
                          placeholder: t('.correspondence_language.placeholder'),
                          data: { provide: :typeahead, source: existing_person_correspondence_languages }

  = f.labeled(:canton) do
    .span6{style: 'margin-left: 0px'}
      = f.collection_select :canton,
                            possible_person_cantons,
                            :id,
                            :to_s,
                            { include_blank: true },
                            class: 'chosen-select',
                            data: { placeholder: ' ',
                                    chosen_no_results: t('global.chosen_no_results') }

  = f.labeled_collection_select :confession,
                                possible_person_confessions,
                                :id,
                                :to_s,
                                { include_blank: true },
                                class: 'span6'

  = f.labeled_input_field :old_data if can?(:update_old_data, entry)

  = f.labeled(:ortsgruppe_id) do
    .span6{style: 'margin-left: 0px'}
      = f.collection_select :ortsgruppe_id,
                            Group::Ortsgruppe.without_deleted.order(:name),
                            :id,
                            :to_s,
                            { include_blank: true },
                            class: 'chosen-select',
                            data: { placeholder: ' ',
                                    chosen_no_results: t('global.chosen_no_results') }
