-#  Copyright (c) 2012-2014, CEVI Regionalverband ZH-SH-GL. This file is part of
-#  hitobito_cevi and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito_cevi.

= field_set_tag do
  = f.labeled_input_fields :title, :profession, :joined, :ahv_number_old, :salutation_parents, :name_parents, :member_card_number

  = f.labeled_input_field :correspondence_language,
                          placeholder: t('.correspondence_language.placeholder'),
                          data: { provide: :typeahead, source: existing_person_correspondence_languages }

  = f.labeled_collection_select :salutation, possible_person_salutations,
                                :id,
                                :to_s,
                                { prompt: true },
                                class: 'span6'


  = f.labeled_collection_select :canton,
                                possible_person_cantons,
                                :id,
                                :to_s,
                                { prompt: true },
                                class: 'span6'

  = f.labeled_collection_select :confession,
                                possible_person_confessions,
                                :id,
                                :to_s,
                                { prompt: true },
                                class: 'span6'
